<div id="nav-container">
	<nav>
		<h1>Dashboard App</h1>
		<ul id="main-nav">
			<li><a href="/reps">Dashboard</a></li>
			<li><a href="/profile/">Profile</a></li>
		</ul>
		<ul id="session-nav">
			<li><a href="/logout">Log off</a></li>
		</ul>
	</nav>
</div>

	<div class="user-login-wrapper">
		<div id="info-wrapper">
			<h3 class="salutation">Add a new client</h3>
			<form class="form-group" action="" method="post">
				<fieldset>
					<label for="">Email: <input name="register_email" type="text" class="form-control"></label>
						<?= $email_errors ?>
					<label for="">First Name: <input name="first_name" type="text" class="form-control"></label>
						<?= $name_error ?>
					<label for="">Last Name: <input name="last_name" type="text" class="form-control"></label>
						<?= $lname_error ?>
					<label for="">Password: <input name="register_password" type="password" class="form-control" placeholder="Password should be at least 8 characters"></label>
						<?= $pwd ?>
					<label for="">Confirm Password: <input name="confirm_pass" type="password" class="form-control"></label>
						<?= $conf_pwd ?>
					<div class='clr'></div>
			  		<input type="submit" class="btn btn-default submit-button wide-button" value="Create">
			  		<div class='clr'></div>
				</fieldset>
			</form>
		</div>
	</div>