@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

/* admin show page */
.fa{
	margin-right: 6px;
	color: black;
}
.fa:hover{
	padding: 2px;
	text-decoration: underline;
}
.admin_title, .admin_paragraph{
	/*text-align: center;*/
}

/* footer */

.footer-wrapper {
    border-top: 2px solid #2CC185;
    padding-top:50px;
    
}
.footer {
	margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
.footer {
    width: 540px;
    max-width: 100%;
    }
  }


@media (min-width: 768px) {
.footer {
    width: 720px;
    max-width: 100%;
    }
  }

@media (min-width: 992px) {
.footer {
    width: 960px;
    max-width: 100%;
    }
  }

@media (min-width: 1200px) {
.footer {  
	width: 1140px;
    max-width: 100%;
	}
}	

.clr {
    clear:bot;
}

.col-lg-4 {
    text-align:center;
}
.no-bottom-space {
    line-height: 0 !important;    
}

#contact_form {
    width: 80%;
    margin: 0 auto;    
}
#contact_form .submit-button {
    padding:10px 16px;
    font-size: 18px;
}

#contact_button{
	display: block;
}
#contact_textarea{
	resize: none;
}
